* text=auto
*.cs text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
.githooks/* text eol=lf
*.meta text eol=lf merge=text
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.png binary
*.jpg binary
*.wav binary
*.ogg binary
*.mp3 binary
*.fbx binary
